/dist
/node_modules
/build
/server/node_modules
/server/dist
/client/node_modules
/client/.next
/client/out

logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

.DS_Store

/coverage
/.nyc_output

/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.env
.env.development.local
.env.test.local
.env.production.local
.env.local
/server/.env*
/client/.env*

.temp
.tmp

pids
*.pid
*.seed
*.pid.lock

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

/server/generated/prisma